.modal1 {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ddd;
    padding: 1rem;
  }

  .backdrop1 {
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
 